html {
    background-color: black;
    height:100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

body {
    background-color: black;
}

p {
    color: white; /* grey; */
}

h4 {
    color: silver;
    align: center;
    align-text: center;
}

td {
    color: white;
}

th {
    color: white;
}

a:visited {
    color: silver;
}

a:link {
    text-decoration: none;
    color: white;
}
