body {
      background-color: black;
      background-image: url("https://raw.githubusercontent.com/n4rus/n4rus.github.io/master/background.jpg");

}

p {
    color: white; /* grey; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}
