html {
    height:100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
body {
    background-color: black;
}

img {
    align: center;
    align-text: center;
    position: relative;
    }

.footer {
    width: 100%;
    bottom: 0;
    position: bottom;
    align-text: left;
    color: 0;
}
